@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&family=Sansita:wght@700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

ul, ol, li {
  list-style: none; }

a {
  text-decoration: none;
  color: #000; }

body {
  background: linear-gradient(0deg, #f1c276 0%, #f287c2 100%) fixed; }

.header {
  position: relative; }
  .header header {
    width: 100%;
    height: 10vh;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center; }
    .header header i {
      font-size: 24px;
      margin-right: 10px; }
    .header header h1 {
      font: 700 32px/1 'Sansita';
      margin-right: 1vw; }
    .header header span {
      text-align: center;
      font: 20px/1 'Open Sans';
      display: inline-block;
      width: 25px;
      height: 25px;
      background: #ddd;
      border-radius: 50%;
      line-height: 24px;
      color: #fff; }
  .header .time {
    position: absolute;
    top: 50%;
    right: 10%;
    transform: translateY(-50%);
    font: 14px/1 'Open Sans'; }

.quote {
  width: 100%;
  height: 4vh; }
  .quote marquee {
    width: 100%;
    height: 100%;
    font: 14px/1 'Open Sans'; }

.wish {
  width: 100%;
  height: 10vh;
  background: rgba(221, 221, 221, 0.3);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10vw;
  border-bottom: 1px solid #ddd; }
  .wish:hover {
    border: 3px solid #fff; }
  .wish .description {
    font: 16px/1 'Open Sans';
    cursor: pointer; }
    .wish .description i {
      margin-right: 10px;
      color: #000; }
    .wish .description.done span {
      text-decoration: line-through;
      text-decoration-thickness: 3px;
      text-decoration-color: #f1c276;
      color: #ddd; }
      .wish .description.done span i {
        color: #ddd; }
  .wish .option {
    margin-right: 1vw; }
    .wish .option i {
      font-size: 18px;
      cursor: pointer; }
  .wish .num {
    background: #f1c276;
    border-radius: 50%;
    text-align: center;
    font: 18px/1 'Open Sans';
    display: inline-block;
    width: 25px;
    height: 25px;
    line-height: 25px;
    color: #fff; }

@media screen and (max-width: 500px) {
  .wish {
    padding: 5vw; }
    .wish .activity-name {
      font: 12px/1 'Open Sans'; }
    .wish .option i {
      font-size: 12px; }
    .wish .num {
      font: 12px/1 'Open Sans';
      width: 15px;
      height: 15px;
      line-height: 15px; } }
.wishes {
  width: 100%;
  height: 77vh;
  margin-bottom: 1vh;
  overflow-y: scroll; }

.add {
  width: 100%;
  height: 8vh;
  background: #000;
  display: flex;
  justify-content: center;
  align-items: center; }
  .add input {
    width: 30%;
    height: 4vh;
    border: none;
    outline: none;
    padding-left: 1vw;
    font: 14px/1 'Open Sans'; }
  .add button {
    width: fit-content;
    padding: 0 10px;
    height: 4vh;
    outline: none;
    border: none;
    background: #ddd;
    color: #000;
    font: 14px/1 'Open Sans';
    cursor: pointer; }
  .add span {
    color: #fff; }

@media screen and (max-width: 690px) {
  .add input {
    width: 70%; } }

/*# sourceMappingURL=style.css.map */
