.wish{
    width: 100%;
    height: 10vh;
    background: rgba(221, 221, 221, 0.3);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:0 10vw;
    border-bottom: 1px solid #ddd;
    &:hover{
        border: 3px solid #fff;
    }
    .activity-name{
        i{
            margin-right: 10px;
            color: #000;
        }
        font: 16px/1 'Open Sans';
        &.done{
            text-decoration: line-through;
            text-decoration-thickness: 3px;
            text-decoration-color: rgba(241,194,118,1);
            color: #ddd;
            i{
                color: #ddd;
            }
        }
    }
    .option{
        margin-right: 1vw;
        i{
            font-size: 20px;
            cursor: pointer;
        }
    }
    .num{
        background: rgba(241,194,118,1);
        border-radius: 50%;
        text-align: center;
        font: 18px/1 'Open Sans';
        display: inline-block;
        width: 25px;
        height: 25px;
        line-height: 25px;
        color: #fff;
    }

}